ENVIRONMENT=production

DJANGO_SECRET_KEY=django-insecure-example-dksjdlksj
DJANGO_ENCRYPT_KEY=example-encrypt-key-1234567890dsjdlkflskfj
ALLOWED_HOSTS=*,localhost,127.0.0.1

DATABASE_URL=postgresql://example_user:example_password@your-database-host/your-database-name

# Database Configuration
DB_NAME=example_db
DB_USER=user
DB_USER_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0

# Supabase Configuration
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_BUCKET_NAME=your-storage-bucket-name
